    <main class="acceuil">
        <section class="b-card">
            <h2>créer votre tableau</h2>
            <p>Organisez toutes vos listes et tâches dans un tableau personnalisé. Visualisez l’ensemble de vos projets en un clin d’œil et structurez votre travail selon vos besoins.</p>
        </section>
        <section class="b-card">
            <h2>créer votre liste</h2>
            <p>Ajoutez des listes pour chaque objectif ou activité. Priorisez facilement ce qui compte pour vous, et ne perdez plus jamais une idée ou une tâche importante.</p>
        </section>
        <section class="b-card">
            <h2>Plannifiez vos taches</h2>
            <p>Planifiez vos journées efficacement. Attribuez des échéances, suivez vos progrès et gardez toujours une longueur d’avance sur vos missions quotidiennes.</p>
        </section>
    </main>