    <header class="header">
        <nav class="nav">
            <div class="logo">
                <img src="./asset/image/logo.png" alt="logo listos">
            </div>
                <h1 class="title">Listos</h1>
            <div class="menu">
                <button class="dropbtn" id="dropdownToggle">Menu</button>
                <ul>
                    <li><a href="#accueil">Accueil</a></li>
                    <li><a href="#connexion">Se connecter</a></li>
                    <li><a href="#inscription">S'inscrire</a></li>
                    <li><a href="#tableau">Mes tableaux</a></li>
                </ul>
            </div>
            <div></div>
        </nav>
    </header>