    <main class="form">
        <section class="form-card">
            <h2>S'inscrire</h2>
        <form action="/api/register" method="post">
            <div>
                <label for="pseudo">Mon Pseudo</label>
                <input type="text" name="pseudo" id="pseudo">
            </div>
            <div>
                <label for="name">Nom</label>
                <input type="text" name="name" id="name">
            </div>
            <div>
                <label for="prenom">Mon Prénom</label>
                <input type="text" name="prenom" id="prenom">
            </div>
            <div>
                <label for="email">Votre Email</label>
                <input type="email" name="email" id="email">
            </div>
            <div>
                <label for="plainPassword">Mot de passe</label>
                <input type="password" name="plainPassword" id="plainPassword">
                <small>8 caractères minimum dont 1 lettre majuscule , un chiffre et un caractére spécial minimum.</small>
            </div>
            <div>
                <label for="verifPassword">Vérification de votre mot de passe</label>
                <input type="password" name="verifPassword" id="verifPassword">
            </div>
            <div>
                <input type="submit" value="s'inscrire">
            </div>
        </form>
            <p><a href="">Déjà Inscrit?</a></p>
        </section>
    </main>