    <main class="form">
        <section class="form-card">
            <h2>S'inscrire</h2>
        <form action="" method="post">
            <div>
                <label for="pseudo">Mon Pseudo</label>
                <input type="text" name="pseudo" id="pseudo">
            </div>
            <div>
                <label for="name">Mon Nom</label>
                <input type="text" name="name" id="name">
            </div>
            <div>
                <label for="firstname">Mon Prénom</label>
                <input type="text" name="firstname" id="firstname">
            </div>
            <div>
                <label for="">Votre Email</label>
                <input type="email" name="email" id="email">
            </div>
            <div>
                <label for="password">Mot de passe</label>
                <input type="password" name="password" id="password">
                <small>8 caractères minimum dont 1 lettre majuscule , un chiffre et un caractére spécial minimum.</small>
            </div>
            <div>
                <label for="VerifPassword">Vérification de votre mot de passe</label>
                <input type="Password" name="VerifPassword" id="VerifPassword">
            </div>
            <div>
                <input type="submit" value="s'inscrire">
            </div>
        </form>
            <p><a href="">Déjà Inscrit?</a></p>
        </section>
    </main>