@use '../variables.scss' as v;


.header {
    background-color: v.$secondary;
    height:5rem;
}

.nav{
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin: 0 auto;
    height:5rem;
    padding:0 2rem;
    width: 100%;
}

.title{
    flex: 1;
    text-align: center;
}

.logo img{
    width: 2.5rem;
    height: 2.5rem;
    display: block;
}

.dropbtn{
    background-color:v.$primary;
    color:v.$text;
    border-radius:12%;
    padding: 0.5rem 0.5rem;
    border: none;
    font-size: 1.1rem;
    min-width: 120px;
    cursor:pointer;
    transition: background 0.2;
}

.menu ul{
    display: none;
}

