
// === ABSTRACTS (variables, mixins, fonctions...) ===
@use 'abstracts/variables' as v;
@use 'abstracts/mixins';

// === BASE ===
@use 'base/reset';
@use 'base/typography' ;

// === LAYOUT ===
@use 'layout/header';
@use 'layout/footer';

// === COMPONENTS ===
@use 'components/message';
@use 'components/form';

// === PAGES ===
@use 'pages/acceuil';
@use 'pages/dashboard';



//style général

body {
    background-color: v.$color-primary;
    color: v.$color-text;
    font-family: v.$font-main;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


main{
    flex:1;
}



body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}



#app {
    flex: 1 0 auto;
}






