@use 'variables' as v;
@use 'components/header';
@use 'components/footer';
@use 'components/acceuil';
@use 'components/form';
@use 'components/dashboard';


//remise à zero
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//style général

body{
    background-color: v.$primary;
    color: v.$text;
    font-family: v.$font-main;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    }

main{
    flex:1;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#header {
    flex-shrink: 0;
}

#app {
    flex: 1 0 auto;
}

#footer {
    flex-shrink: 0;
}




